<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QL_DiemTHPT.Properties.Settings.QL_DIEMTHPTConnectionString"
            connectionString="Data Source=DESKTOP-BOO9P8F\SQLEXPRESS;Initial Catalog=QL_DIEMTHPT;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="QL_DiemTHPT.Properties.Settings.QL_DIEMTHPT" connectionString="Data Source=DUNNE;Initial Catalog=QL_DIEMTHPT;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>